/*

this css is copied and modified from ``Minimal theme of jerkii for github pages''

*/
#page-main  {
    background-color: #fff;
    padding: 50px;
    font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400;
}

#page-main h1, #page-main h2, #page-main h3, #page-main h4, #page-main h5, #page-main h6 {
    color: #222;
    margin: 0 0 20px;
}

#page-main p, #page-main ul, #page-main ol, #page-main table, #page-main pre, #page-main dl {
    margin: 0 0 20px;
}

#page-main ul, #page-main ol
{
    padding-left: 40px;
}

#page-main ul
{
    list-style-type: disc;
}

#page-main ol
{
    list-style-type: decimal;
}


#page-main h1, #page-main h2, #page-main h3 {
    line-height: 1.1;
}

#page-main h1 {
    font-size: 28px;
}

#page-main h2 {
    color: #393939;
}

#page-main h3, #page-main h4, #page-main h5, #page-main h6 {
    color: #494949;
}

#page-main a {
    color: #267CB9;
    text-decoration: none;
}

#page-main a:hover, #page-main a:focus {
    color: #069;
    font-weight: bold;
}

#page-main blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

#page-main code, #page-main pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    color: #333;
    font-size: 12px;
}

#page-main pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

#page-main table {
    width: 100%;
    border-collapse: collapse;
}

#page-main th, #page-main td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

#page-main dt {
    color: #444;
    font-weight: 700;
}

#page-main th {
    color: #444;
}

#page-main img {
    max-width: 100%;
}

#page-main strong {
    color: #222;
    font-weight: 700;
}

#page-main small {
    font-size: 11px;
}

#page-main hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}
